//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #4d4d4d;
  color: #fff;
  font-size: 12px;
  font-family: $font-family;
}