//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  padding: 40px 0 0;
  position: relative;
  &::before {
    content: '';
    width: 50%;
    height: 38px;
    background-color: #285c94;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  img {
    vertical-align: middle;
  }
  &__logo {
    float: left;
    a {text-decoration: none;}
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
    .item {
      padding: 0 19px;
    }
    .item + .item {
      border-left: 1px solid #cccccc;
    }
  }
  &--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &--bottom {

  }
}
.main-nav {
  margin-top: 8px;
  float: right;
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }