//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

//
// Main container
//
.page-main {
  overflow: hidden;
}

.main-section {
  padding: 70px 0 50px;
  color: #fff;
  border-top: 21px solid #333333;
  background: url("../images/main.jpg") no-repeat center center, #000000;
  h3 {
    margin-bottom: 0;
    font-family: 'vida_31_proregular';
  }
  h2 {
    margin-top: 0;
    font-family: 'vida_31_proregular';
  }
  form {
    h2, h3 {
      font-family: $font-family;
      margin-bottom: 30px;
    }
  }
}

.about-section {
  padding: 20px 0 80px;
  h2 {
    margin-bottom: 50px;
  }
}

.sert-section {
  //padding-bottom: 70px;
  position: relative;
  &::after {
    content: '';
    width: 50%;
    height: 19px;
    background: #285c94;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  h2 {
    margin-bottom: 26px;
  }
  p {
    margin-bottom: 28px;}
  .btn {
    width: 340px;}
  img {vertical-align: bottom;}
}

.products-section {
  padding: 20px 0 50px;
  color: #fff;
  background: #333333;
  h2 {
    margin-top: 0;
    margin-bottom: 33px;
  }
  .is-col {
    display: flex;
  }
  .img {
    margin-right: 50px;
  }
}

.pad0 {
  padding: 0;
}