header.page-header
    .container
        .page-header--top
            .page-header__logo
                a(href="/")
                    img(src="images/logo.png", alt="Company ltd.")
            h1 North  Gears
            .page-header__contacts
                .item.text--right
                    .text__sm Россия, Архангельск #[br] ул. Пушкина, д.10, оф. 42 #[br] пн.-пт. с 8:00 до 19:00
                .item
                    b.text__lg 8(800)555-35-35 #[br]
                    a.text__lg(href="#") заказать звонок
        .page-header--bottom
            .is-row.between__xs.bottom__xs
                .is-col.pad0
                    img(src="images/top-arr.png", alt="Company ltd.")
                .is-col.pad0
                    include ../components/_navbar