$icons: (
	  sprite: (width: 92px, height: 32px, svgPath: '../images/svg/sprite.svg'),
 	facebook: (width: 10px, height: 22px, backgroundX: 0px, backgroundY: 0px),
 	percent_icon: (width: 20px, height: 20px, backgroundX: -20px, backgroundY: 0px),
 	twitter: (width: 32px, height: 22px, backgroundX: -50px, backgroundY: 0px),
);
