main.page-main
    section.main-section#main
        .container
            .text--center
                h3 ООО "Северо-Запад Детали"- официальный представитель японской фирмы Yanmar в Северо-Западном регионе. #[br]  Вся запасные детали, реализуемые нашей компанией, имеют российские сертификаты соответствия.
                h2 Оставьте заявку на сайте и получите скидку 5% на ваш заказ
            .is-row.middle__xs.between__xs
                .is-col.is-col__xs-6
                    form.animated(method="POST", action="form/send.php", data-animation="slideInLeft", data-animation-delay="300")
                        h3 Оставить заявку
                        .form__group: input.control(type="text", placeholder="Модель двигателя *", name="model", required, data-label="Введите модель двигателя ")
                        .form__group
                            select.control
                                option Запчасти
                                option Запчасти
                                option Запчасти
                        .form__group: input.control(type="text", placeholder="Артикул", name="art")
                        .form__group: input.control(type="text", placeholder="Комментарий", name="comm")
                        .form__group
                            .is-row
                                .is-col.is-col__xs-6: input.control(type="text", placeholder="Телефон", name="phone")
                                .is-col.is-col__xs-6: input.control(type="text", placeholder="ФИО", name="name")
                        .form__group
                            .is-row
                                .is-col.is-col__xs-6: input.control(type="email", placeholder="e-mail *", name="email", required, data-label="Введите ваш email")
                                .is-col.is-col__xs-6: input.btn.btn--primary.btn--full(type="submit", value="Отправить заявку")
                .is-col.is-col__xs-6.text--right
                    .animated(data-animation="slideInRight", data-animation-delay="500")
                        h2 Заполните эту форму и #[br] наш менеджер перезвонит #[br] вам в течение 40 минут
    section.about-section#about
        .container
            .text--center.animated(data-animation="fadeIn", data-animation-delay="300")
                h2 О компании Yanmar
                p Компания Yannmar Co., Ltd., основанная в 1912 году, уже на протяжении века остаётся в мировых лидерах по производству дизельных двигателей, а так же энергетического оборудования и широкого ряда спецтехники на их основе. #[br] Качество и надёжность продукции Yanmar – залог успеха компании и её клиентов.
    section.products-section
        .container
            .text--center
                h2 Преимущества продукции Yanmar
            .is-row
                .is-col.is-col__xs-6.animated(data-animation="zoomInLeft", data-animation-delay="300")
                    .img
                        img(src="images/icon-1.png", alt="")
                    .desc
                        h3 Широкий ассортимент
                        p.text__sm Более 150 тысяч наименований
                .is-col.is-col__xs-6.animated(data-animation="zoomInRight", data-animation-delay="500")
                    .img
                        img(src="images/icon-2.png", alt="")
                    .desc
                        h3 Долговечность
                        p.text__sm Сертифицированные оригинальные #[br] запчасти
            .text--center.margtop70.animated(data-animation="slideInUp", data-animation-delay="700")
                p Предоставляя только сертифицированные и оригинальные запасные части Yanmar, наша компания гарантирует надёжность и эффективность работы Вашей техники, которые напрямую зависят от качества изготовления запасных частей. Используя только оригинальные, а значит прошедшие контроль на соответствие техническим требованиям, запасные части Yanmar, вы заботитесь о работоспособности и длительном сроке службы своей технике.
    section.sert-section#sert
        .container
            .text--center
                h2 Почему NorthGears?
            .is-row.between__xs.top__xs
                .is-col.is-col__xs-7.animated(data-animation="slideInLeft", data-animation-delay="300")
                    p Компания ООО «Северо-Запад Детали» создана с целью обеспечения  поставок на российский рынок высококачественных запасных деталей фирмы Yanmar по Северо-Западному Федеральному округу.
                    p На нашем сайте Вы можете заказать запасные части:
                    .is-row.margbot30
                        .is-col.is-col__xs-4.text--center
                            img(src="images/icon-3.png", alt="")
                        .is-col.is-col__xs-8
                            p.text__lg Для промышленных #[br] двигателей #[br] Yanmar
                    .is-row.margbot30
                        .is-col.is-col__xs-4.text--center
                            img(src="images/icon-4.png", alt="")
                        .is-col.is-col__xs-8
                            p.text__lg Для судовых #[br] двигателей #[br] Yanmar
                .is-col.is-col__xs-4.animated(data-animation="slideInRight", data-animation-delay="500")
                    img(src="images/sert.jpg", alt="")
            .text--center.anchor
                a.btn.btn--primary(href="#main") Отправить заявку
            .text--right.margtop70
                img(src="images/bottom-arr.png", alt="Company ltd.")
